
/* 全体設定 */
@charset "utf-8";
body, h1, p {
  margin: 0;
  font-family: "Arial", "メイリオ";
}
li {
  list-style: none;
}
/* body css */
body {
  margin: 0;
}

.common_subtitle {
  margin: 0 auto;
  margin-bottom: 40px;
}

.common_section {
  padding: 70px 5%;
  margin: 0 auto;
}

/* ヘッダー */
header {
  height: 60px;
  /* background-color: #ffffff; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}
header .header-left a:hover {
  color: #e65f78;
  cursor: pointer;
}
/* .header-left h1 {
  font-size: 2em;
} */
.header-left a {
  text-decoration: none;
  color: #000;
}
.header-right ul{
  display: flex;
}
/* .header-right li {
  margin-left: 30px;
} */
.header-right li a {
  text-decoration: none;
  color: #000;
  margin-left: 30px;
}
header .header-right a:hover {
  color: #e65f78;
  cursor: pointer;
}
/* タイトル */
.title {
  /* width: 1440px; */
  /* background-color: blue; */
  background-image: url(../img/1stview.png);
  background-size: cover;
  height: 664px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
/* .container {
  width: 643px;
  height: 177px;
  color: #ffffff;
  margin: auto;
  background: black;
} */
.title .container h2 {
  color: white;
  /* font-size: 29px; */
}
.title .container h2 span {
  font-size: 59px;
  /* padding-top: 9px; */
}
/* イントロダクション */
.introduction {
  /* width: 100%;
  height: 477px; */
  /* background-color: pink; */
  display: flex;
  justify-content: space-between;
  padding: 70px 5%;
}
.intro-img img{
  /* width: 50%; */
  /* height: 100%; */
  /* width: 49%; */
  /* margin: 70  ; */
  /* background: black; */
  /* height: 333px;
  border-radius: 0.8; */
  width: 536px;
  height: 333px;
  border-radius: 10px;
}
.introduce {
  /* width: 50%;; */
  /* height: 100%; */
  width: 49%;
  height: 333px;
  /* background: plum; */
} 
.introduce h2 {
  font-weight: normal;
  /* margin: 0 0 20px 0; */
  margin-block-start: 0;
}
/* スキル */
.skill {
  /* width: 100%;
  height: 684px; */
  padding: 70px 5%;
  background-color: #f9f9f9;
  text-align: center;
  margin: 0 auto;
}
.skill-title {
  /* background: white; */
  font-size: 40px;
  font-weight: normal;
}
.skill-lists {
  background: white;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-bottom: solid 1px #eee;
  cursor: pointer;
}
.skill-list {
  /* line-height: 55px; */
}
.skill-list:hover {
  background-color: #d4f0fd;
  /* opacity: 0.8; */
}
.skill-list th, td {
  width: 25%;
  padding: 15px 0;
}
.skill-list td {
  background-size: 25px;
  background-position: left 70px center;
  background-repeat: no-repeat;
  padding-left: 20px;

}
.skill-list img {
  height: 55px;
  /* padding: 5px; */
}
.html {
  background-image: url(../img/html-5.png);
}
.css {
  background-image: url(../img/css-3.png);
}
.javascript {
  background-image: url(../img/javascript.png);
}
.vue {
  background-image: url(../img/vue.png);
}
.nuxt {
  background-image: url(../img/nuxt-icon.png);
}
.firebase {
  background-image: url(../img/firebase.png);
}
.node {
  background-image: url(../img/nodejs.png);
}
/* プロダクション */
.production {
  /* width: 100%; */
  /* height: 863px; */
  /* background-color: green; */
  padding: 70px 5%;
}
.products {
  /* background: gray; */
  text-align: center;
  margin: 0 auto;
  font-size: 40px;
  font-weight: normal;
}
.products-list {
  /* background: green; */
  display: flex;
  /* justify-content: space-between; */
  /* display: flex; */
  /* flex-wrap: wrap;
  justify-content: space-between;
  padding-inline-start: 0; */
}
.products-list ul {
}
.product p{
  font-size: 16px;
}
.products-list li:last-child a {
  border-bottom: 1px dashed black;
  /* width: 32%; */
  /* border: 2px solid #dcdcdc;
  width: 32%;
  border-radius: 10px; */
}
.products-list li img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}
.product p{
  text-align: right;
  font-size: 22px;
}

/* キャリア */
.career-content {
  /* width: 100%;
  height: 1153px; */
  /* background-color: yellow; */
  padding: 70px 5%;
  margin: 0 auto;
  background-color: #f9f9f9;
}

.carrers {
  /* background: gray; */
  font-size: 40px;
  font-weight: normal;
  text-align: center;
}
.carrers-list {
  /* background: skyblue; */
  height: 400px;
  /* display: flex;
  justify-content: space-between; */
}
.carrer{
  /* width: 40%; */
  width: 50%;
  box-sizing: border-box;
  border-right: 2px dashed #cfcdcd;
  padding-bottom: 40px;
  display: flex;
  position: relative;
  transition: all 1s ease-in-out 0s;
}
.carrer:first-child::before {
  content: "";
  width: 11px;
  height: 11px;
  background: #cfcdcd;
  box-sizing: content-box;
  border: 5px solid #fff;
  box-shadow: 0 0 0 2px #cfcdcd;
  transform: rotate(45deg);
  position: absolute;
  right: -11px;
  top: -10px;
}
.carrer:last-child::after {
  content: "";
  width: 11px;
  height: 11px;
  background: #cfcdcd;
  box-sizing: content-box;
  border: 5px solid #fff;
  box-shadow: 0 0 0 2px #cfcdcd;
  transform: rotate(45deg);
  position: absolute;
  right: -11px;
  bottom: 0;
}
.carrer:nth-child(2) {
  width: 50.2%;
  box-sizing: border-box;
  border-left: 2px dashed #cfcdcd;
  border-right: none;
  padding-bottom: 40px;
  margin: 0 0 0 auto;
}
.career:hover .content_box {
  border: 2px dashed #cfcdcd;
}

.career:hover h5 {
  color: #e65f78;
}
.timeline_yoko {
  width: 20%;
  height: 60px;
  border-bottom: 2px dashed #cfcdcd;
}
.content_box {
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  text-align: right;
  transition: all 0.3s ease 0s;
}
.content_box h4 {
  color: #e65f78;
  font-size: 15px;
  margin-block-start: 0;
  margin-block-end: 0;
}
.content_box h5 {
  font-size: 22px;
  line-height: 33px;
  margin-block-start: 0;
  margin-block-end: 0;
  /* transition: all 0.3s ease 0s; */
}
.content_box p {
  margin-block-start: 0;
  margin-block-end: 0;
}
/* .carrer:nth-child(2) {
  text-align: right;
  display: inline;
} */


/* コンタクト */
.contact {
  /* width: 100%;
  height: 985px; */
  width: 40%;
  /* background-color: gray; */
  padding: 70px 5%;
  margin: 140px  auto ;
  background: white;
}
.contacts h2{
  /* background: green; */
  font-size: 40px;
  font-weight: normal;
  margin: 0px auto 40px;
  text-align: center;
}
.contacts p {
  text-align: center;
}
.contactform {
  background: yellow;
  display: block;
  margin-top: 0;
}
.contactform input {
  /* display: inline-block; */
  /* width: 480px; */
  width: 100%;
  /* height: 52px; */
  height: 50px;
  background-color: #E9CDC1;
  /* text-align: left; */
  border: 0;
  border-radius: 8px;
  margin-bottom: 40px;
}
.contactform textarea {
  display: inline-block;
  /* width: 480px; */
  width: 100%;
  /* height: 154px; */
  height: 150px;
  background-color: #E9CDC1;
  border: 0;
  border-radius: 6px;
}
.agreement {
  /* margin: 0 auto; */
}
.ckeckbox {
  position: relative;
}
.check {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 220px;
  top: -24px;
}
  
button {
  /* text-align: center; */
  /* width: 240px; */
  width: 50%;
  height: 50px;
  font-size: 16px;
  color: white;
  background: black;
  margin: 40px auto 0px;
  border-radius: 20px;
  border: 0;
  display: block;
  transition: all 0.3s ease 0s;
}
button:hover {
  background: rgba(235, 83, 104, 0.7);
}

/* フッター */
footer {
  /* width: 100%;
  height: 152px; */
  background-color: black;
  display: flex;
}
.footer {
  margin: auto;
}










